.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    background-color: aquamarine;
    margin: 0px;
    z-index: 1000;
    position: fixed;
    height: 60px;
}

.navbar-item{
    padding: 2px;
    margin: 0px 16px;
}